.upperSection{
    background-image: url('./assets/flowershop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:70vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
}

.heading{
    /* z-index: 5; */
    /* font-family: sans-serif; */
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading  button{
    color: #ffffff;
    font-size: 30px;
    height: 50px;
    width: 170px;
    border: none;
    background: #7ED321;
    border-radius: 22px;
    position: relative;
    top:-100px;
}

.heading p {
    color: #ffffff;
    font-size: 40px;
    position: relative;
    top:100px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
}

.options {
    background-color: #CEE7B5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;
}

.option {
    /* width: 40%; */
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    max-width:1250px;
}
