/* Slider*/
.custom-caroiusel{
    position:relative;
}

/* .animated{
    min-width: 100px !important;
    display: inline-block;
} */
#imggg{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#elvis{
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #080d15;
    opacity: 0.0;
}

.carousel-inner img{
    height: 100vh;
} 

.custom-caption{
    position:absolute;
    height: 50%;
}

.custom-caption h1{
    font-size: 60px;
}

.custom-caption h3{
    font-size: 50px;
}

/* section02 */

#section02{
    background-color: #FFF8DC;
}
.section02Item{
    margin-top:100px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.section02Item img{
    max-width: 30%;
    max-height: 30%;
    margin-top:10px;
    margin-bottom:10px;
}

/* section03 */
#section03{
    margin-top:100px;
    margin-bottom: 100px;
}

/* section04 */
#section04{
    padding-top:100px;
    padding-bottom:100px;
    background-color: #FFF8DC;
}

#section04 .text-center{
    margin-top: 10px;
}

.scrollable {
    height: 100px;
    overflow-y: scroll;
  }

  .card {
    display: inline-block;
    font-family: 'Apple Symbols';
    font-size: 800%;
  }