    <h1>Look at all the beautiful menu from izone</h1>

    <br />

 

    <div class='row'>

        {{#each menu}}

            <div class='col-sm-3'>

            <h1>Person</h1>

            <h3>First name:</h3>

            {{name}}

            <h3>Last name:</h3>


            <br />

 

        </div>

        {{/each}}
    </div>